<%# Write your code here! %>
<!DOCTYPE html>
<html>
  <head>
      <title>Home</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <form  action="/greet" method="post">

    </form>
  </body>
</html>
